.Container {
  display: flex;
  justify-content: center;
  text-align: center;

  width: 100%;
  min-width: 0;

  background-color: white;
  color: #2f2f2f;

  column-gap: 100px;
  /* TO DO: fix how this is working */
  padding: 100px;
  align-items: center;
  flex-wrap: wrap;
}

.Image {
  /* TO DO: add responsive sizing to this */
  /* make text and image wrap when the screen gets too small */
  height: 500px;
}

.Text {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.HeaderText {
  font-size: 60px;
  font-weight: 600;
}

.BodyText {
  font-size: 38px;
}