.resume-Container {
    text-align: center;
    background-color: #faf8f6;
    padding: 100px;
    padding-left: 200px;
    padding-right: 250px;
    
    display: flex;
    flex-direction: row;
    column-gap: 125px;
    text-align: left;
  }

.resume-Text {
  color: #a37a74;
  font-size:80px;
  line-height: 80px;
  font-weight: 1000;
}

img {
  width: 500px;
  border-radius: 20px;
  cursor: pointer;
}

img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}