.Contact-container {
  font-size: 80px;
  font-weight: 1000;
  color: #a37a74;
  padding: 100px;
  padding-left: 200px;
  padding-right: 150px;
  line-height: 80px;

  display: flex;
  flex-direction: row;
  column-gap: 125px;
  text-align: left;

  background-color: #2f2f2f;
}

.body-text {
  color: #faf8f6;
  font-size: 34px;
  line-height: 48px;

  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
  